## Resolver for getEvent Query
## This template fetches an item from DynamoDB based on the "id" argument passed in the GraphQL query.

{
  "version": "2018-05-29",
  "operation": "GetItem",
  "key": {
    "id": {
      "S": "$ctx.args.id"     ## Convert GraphQL argument "id" to DynamoDB Key format
    }
  }
}